<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.user.dao.UserDeptDao">
<!-- 通过部门id找部门 -->
	<select id="findById" resultType="String">
		select department from oa_departmentinfo where ID=#{deptId}
	</select>
	
	<!-- 通过部门找部门id -->
	<select id="findDeptIdByDept" resultType="Integer">
	select ID from oa_departmentinfo where department=#{dept}
	</select>
	
	<!-- Node -->
	<select id="findDeptZtreeNode" resultType="com.oa.common.vo.DeptNode">
	select ID,department 
	from oa_departmentinfo
	</select>
</mapper>