<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.user.dao.UserUserInfoDao">

	<sql id="queryWhere">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%") 
			</if>
			<if test="deptId!=null and deptId!=''">
				deptId=#{deptId}
			</if>
		</where>
	</sql>

<!-- 添加用户 -->
<insert id="doSaveObject" useGeneratedKeys="true" keyProperty="id">
insert into oa_userinfo 
(username,password,salt,valid,basicId,deptId,dutyId,createdTime,modifiedTime,createdUser,modifiedUser) values 
(#{username},#{password},#{salt},#{valid},#{basicId},#{deptId},#{dutyId},now(),now(),#{createdUser},#{modifiedUser})
</insert>

	<!-- 根据条件查找页面信息 -->
	<select id="findPageObjects" resultMap="UserUserInfoMap">
		select *
		from oa_userinfo
		<include refid="queryWhere"></include>
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<resultMap type="com.oa.user.vo.UserUserDeptDutyInfo" id="UserUserInfoMap">
		<association property="dept" column="deptId"
			select="com.oa.user.dao.UserDeptDao.findById"></association>
		<association property="duty" column="dutyId"
			select="com.oa.user.dao.UserDutyDao.findById"></association>
	</resultMap>


	<!-- 根据条件查找记录条数 -->
	<select id="getRowCount" resultType="int">
		select count(*)
		from oa_userinfo
		<include refid="queryWhere"></include>
	</select>
	
	<!-- 根据用户名查找用户是否已存在 -->
	<select id="findExistObject" resultType="int">
	select count(*) 
	from oa_userinfo 
	where username=#{username}
	</select>
	
	<!-- 通过用户id查找用户信息 -->
	<select id="findObject" resultMap="UserUserInfoMap">
	select * 
	from oa_userinfo 
	where id=#{id}
	</select>
</mapper>